{
  "presets": [ "@babel/preset-react", "@babel/preset-env", "razzle/babel" ],
  "plugins": [
	  ["module-resolver", {
	    "root": ["./src"],
	    "alias": {
        "components": "./src/components",
        "containers": "./src/containers",
        "hooks": "./src/hooks",
        "pages": "./src/pages",
        "routes": "./src/routes",
        "server": "./src/server",
        "styles": "./src/styles",
        "utils": "./src/utils"
	    }
    }],
    ["@loadable/babel-plugin"]
  ]
}