@import '../../styles/main.scss';

.imageContainer {
	grid-area: image;
	@include display($justify: center);

	.image {
		@include image($height: 150px);
	}
}

.information {
	grid-area: info;

	.quantity {
		margin-bottom: $space-default;
	}

	.title {
		font-weight: bold;
		margin-bottom: $space-double;
	}

	.price {
		font-size: $fs-46;
	}

	.button {
		color: $white;
		background-color: $tertiary-color;
		height: 50px;
		width: 100%;
		border-radius: 4px;
	}
}

@include mq-sm {
	.imageContainer {
		.image {
			@include image($width: 680px, $height: fit-content);
		}
	}
}
