@import '../../../styles/main.scss';

.container {
	grid-area: description;
	@include display($direction: column);
	padding: $space-default 0;

	.title {
		font-size: 28px;
	}

	.description {
		color: $light-grey;
		margin: $space-double 0;
	}
}

@include mq-sm {
	.container {
		padding: 0;
	}
}
