@import '../../styles/main.scss';

main {
	@include scrollbar;
	height: 100vh;
	overflow-y: auto;

	.routes {
		height: 100%;
	}
}

@include mq-lg {
	.routes {
		max-width: map-get($breakpoints, 'lg');
		margin: auto;
	}
}
