@import '../../styles/main.scss';

.breadcrumb {
	display: inline-flex;
	font-size: $fs-14;
	color: $light-grey;

	.link {
		color: $light-grey;
		transition: color 0.2s ease;

		&:hover {
			color: $medium-grey;
		}
	}

	.last {
		font-weight: bold;
	}

	.separator {
		margin: 0 5px;
	}
}
