@import '../../styles/main.scss';

.container {
	background-color: $white;
	padding: $space-double;
}

.error {
	text-align: center;
}

@include mq-sm {
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			'image image info'
			'image image info'
			'description description .';
	}
}
